@import url('https://fonts.googleapis.com/css?family=Oswald');
/* base styles */
* {
  margin: 0;
  font-family: 'Oswald', serif;
  box-sizing: border-box;
}

.bath_panel{
    position: absolute;
    left:5%; top:1%;
    width: 90%;
    height: 110%;
    min-height: 700px;
    max-height: 800px;
    /* border: 4px solid silver; */
    /* background-image: url(/src/images/one.png); */
}

.bath_image{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.bath_panel_shell {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr; 
    left:9%;
    /* top: -90%; */
    width: 75%;
    /* height: 70%; */
    height: 55%;
    top: -80%; 
    column-gap: 5%;
    /* border: 2px solid red; */
    object-fit: cover;
}
.bath_panel_options {
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
    gap:2%;
    padding: 2%;
    
}
.bath_panel_option{
    display: grid;
    align-content: center;
    justify-content: center;
    box-shadow: inset 2px 2px 10px  rgb(81, 156, 88);
    border: 2px solid rgba(49, 48, 48, 0.548);
    border-radius: 5%;
    width: 100px;
    height: 90px;
}
.bath_panel_options_detail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid silver;
    gap:2%; padding: 2%;
    background-color: aliceblue;
    overflow: auto;
    z-index: 505;
}

.option_in_subcategory_front, .option_in_subcategory_korpus, .option_in_subcategory_wash {
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    align-content: center;
    padding-left: 4%;
    gap:4%;
    /* border: 1px solid red; */
    cursor: pointer;
    height: 10vh;
    box-shadow:  2px 2px 5px  rgb(24, 26, 4);
}
.option_in_subcategory_korpus{
    
    box-shadow:  2px 2px 5px  rgb(24, 26, 4);
}
.option_in_subcategory_room {
    display: flex;
    gap: 8%;
    cursor: pointer;
    height: 17vh;
}
.product_name{
    display: grid;
    align-content: center;
    justify-content:center;
    padding: 2%;
}
.chosen{
    display: grid;
    align-content: center;
    justify-content:center;
    padding: 2%;
    padding-right: 50%;
    padding-bottom: 250%;
}
.product_image_front,.product_image_korpus,.product_image_wash {
    width: 12vh;
    height: 9vh;

}
.room_image{
    width: 27vh;
    height: 17vh;
    box-shadow:  3px 3px 5px  rgb(37, 39, 12);
}
.product_name{
    font-size: 1.2vw;
}
.motto{
    position: absolute;
    z-index: 50;
    left: 40%;
}

 /* mobil kısım buraya */
 
 @media (max-width: 575.98px) { 
    .bath_panel{
        left:0%; 
        top:-10%;
        width: 108.9%;
        height: 133.1%;
        max-height: 300px;
    }
    .bath_panel_shell {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        top: -79%;
        height: 49%;
        column-gap: 0%;
        left: 0%;
        width: 92%;
    }
    .bath_panel_options{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1%;
        height: 10vh; 
        padding: 0%;   
        padding-left: 0%;    
    }
    .bath_panel_option{
        width: 99%;
        height: 50px;
        box-shadow: inset 1px 1px 5px rgb(17, 31, 18);
    }
    .bath_panel_options_detail{
        gap:1%; padding: 0%;
    }
    .room_image {
        width: 19vh;
        height: 15vh;
    }
    .bath_panel_options_detail{
        grid-template-columns: 1fr 1fr;
    }
    .option_in_subcategory_front, .option_in_subcategory_korpus, .option_in_subcategory_wash {
        /* padding-left: 5%;
        gap: 4%;
        height: 16vh;
        width: 25vh; */

        padding-left: 3%;
        gap: 2%;
        height: 12vh;
        width: 22vh;
        /* height: 97px;
        width: 209px; */
    }
    .product_name{
        font-size: 3vw;
    }
    .chosen{
        padding-right: 80%;
    }
    
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .bath_panel{
        left:0%; 
        top:-15%;
        /* width: 90%;
        height: 110%; */
        width: 108.9%;
        height: 133.1%;
    }
    .bath_panel_shell {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        /* border: 2px solid blue; */
        top: -75%;
        height: 49%;
        column-gap: 0%;
    }
    .bath_panel_options{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0%;
        height: 16vh; 
        justify-items: center;   
    }

    .bath_panel_option {
        width: 109px;
        height: 70px;
    }
    .room_image {
        width: 19vh;
        height: 13vh;
    }
    .product_name{
        font-size: 1.7vw;
    }

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .motto{ color: red; }
    .bath_panel{
        left:0%; 
        /* top:-10%; */
        top:-30%;
        width: 99%;
        height: 121%;
    }
    .bath_panel_shell {
        top: -70%; 
        /* top: -70%;  */
        height: 40%;
        /* border: 2px solid red; */
    }
    .bath_panel_options_detail{
        grid-template-columns: 1fr 1fr;
    }
    .bath_panel_option {
        width: 88px;
        height: 66px;
    }
    
    .option_in_subcategory_room {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .option_in_subcategory_front, .option_in_subcategory_korpus, .option_in_subcategory_wash {
        padding-left: 4%;
        gap:4%;
        /* height: 13vh;
        width: 27vh; */
        height: 97px;
        width: 209px;
    }
    .product_image_front, .product_image_korpus, .product_image_wash {
        width: 85px;
        height: 65px;
    }
    .product_name{
        font-size: 1.4vw;
    }
 }